body {
  background-image: url("icon.png");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 180px;
  background-image: url(leaf.jpg");
  background-color: #cccccc;
}
